.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.title {
  height: 32px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}